body {
    background-color: rgb(204, 231, 255);
}

.container {
    height: 90vh;

    display: flex;

    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;

    border: rgb(126, 126, 126) solid 2px;
    border-radius: 10px;
    padding: 25px 50px;

    grid-template-areas: "im div"
                        "im hej";
    
    align-items: center;

    grid-gap: 35px;
}

.info {
    grid-area: div;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    border: rgb(139, 139, 139) solid 1px;
    border-radius: 10px;

    padding: 5px 15px;

    text-align: left;
}

#results {
    height: 250px;
    grid-area: im;
}

a {
    width: 75px;
    grid-area: hej;
    text-decoration: none;
    background-color: azure;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 3px;
    text-align: center;
    padding: 5px 15px;
}

a:hover {
    background-color: rgb(177, 255, 255);
    color: rgb(102, 102, 102);
}

